{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    },
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "./**",
            "group": "internal",
            "position": "after"
          }
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ]
      }
    ]
  },
  "rules": {
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/no-array-index-key": "off"
  }
}
